html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.container {
  max-width: 1020px;
}

.codeblock
{
  box-shadow: 0 8px 24px 0 rgb(0 0 0 / 10%);
  border-radius: 6px;
  max-width: calc(100vw - 40px);
  position: relative;
}


.codeblock::before
{
  content: "";
  height: 30px;
  display: block;
  width: 100%;
  position: relative;
  background: #fff;
  border-radius: 6px 6px 0 0;
}

.codeblock::after
{
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  top: 10px;
  left: 8px;
  background: rgba(0, 0, 0, .07);
  box-shadow: 18px 0 0 rgb(0 0 0 / 7%), 36px 0 0 rgb(0 0 0 / 7%);
}

.codeblock .code{
  background: #333;
  padding: 30px;
  display: block;
  color: #2fb651;
  width: 100%;
  border-radius: 0 0 6px 6px;
  min-height: 320px;
}
